@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --color: #FFF;
    --back-color: #27282c;
    --custon-color: #6C48D7;
    --linear-color: linear-gradient(140deg, rgb(138, 109, 244, 1) 27%, rgba(108,72,215,1) 100%);
    --heading-size-1: clamp(24px, 3vw, 32px);
    --description-size-1: clamp(16px, 2vw, 20px);
    --heading-size-2: clamp(24px, 3vw, 28px);
    --description-size-2: clamp(16px, 2vw, 18px);
    --heading-size-3: clamp(18px, 3vw, 24px);
    --btn-size: clamp(14px, 2vw, 14px);
}
  
body{
    font-family: 'Montserrat', sans-serif;
    background: var(--back-color);
    width: 100%;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

.container{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.heading{
    font-size: var(--heading-size-2);
    font-weight: 700;
    letter-spacing: 0em;
    color: var(--color);
}

.description{
    font-size: var(--description-size-2);
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    color: var(--color);
}

.btn{
    padding: 15px 20px;
    background: rgb(119,88,199);
    background: linear-gradient(140deg, rgb(138, 109, 244, 1) 27%, rgba(108,72,215,1) 100%);
    box-shadow: 0 4px 20px rgba(108,72,215,1);
    border-radius: 15px;
    cursor: pointer;
    font-size: var(--description-size-2);
    font-weight: 400;
    text-align: center;
    color: var(--color);
}

/* HEADER */

.header{
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #cacaca;
}

.header__container{
    min-width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__heading{
    margin-right: 20px;
    background: -webkit-linear-gradient(left, rgb(218, 210, 245), rgb(118, 84, 219));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__list{
    display: flex;
}

.header__item{
    min-width: fit-content;
    cursor: pointer;
    padding: 5px 0px;
}

.header__item-selected{
    border-bottom: 3px solid var(--custon-color);
}

.header__item:not(:last-child){
    margin-right: clamp(20px, 5vw, 35px);
}

/* PAGES */

.About{
    display: none;
    margin-bottom: 30px;
}

.Portfolio{
    display: none;
    margin-bottom: 30px;
}

.Contants{
    display: none;
    margin-bottom: 30px;
}

.Page-visible{
    display: block;
}

/* HERO */

.section-hero{
    width: 100%;
    height: clamp(300px, 30vw, 500px);
    background-image: url(../img/background-frame.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-hero__wrapper{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left center;
    position: relative;
}

.section-hero__container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-hero__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-hero__content-heading{
    margin-bottom: clamp(15px, 7vw, 30px);
    font-size: var(--heading-size-1);
    text-align: center;
}

.section-hero__content-description{
    margin-bottom: clamp(10px, 5vw, 25px);
    font-size: var(--description-size-1);
}

/* SKILLS */

.section-skills{
    width: 100%;
    height: fit-content;
    background-color: var(--color);
    padding-top: 30px;
}

.section-skills__heading{
    width: 100%;
    font-size: var(--heading-size-1);
    text-align: center;
    color: var(--custon-color);
    margin-bottom: 30px;
}

.section-skills__content{
    padding-bottom: 20px;
}

/* SWIPER */

.swiper {
    max-width: 822px;
    width: 85%;
    height: clamp(200px, 30vw, 300px);
}

.swiper-3d .swiper-slide-shadow-left {
    background-image: none !important;
}

.swiper-3d .swiper-slide-shadow-right {
    background-image: none !important;
}

.swiper-button-next, .swiper-button-prev{
    width: 5% !important;
    height: 12% !important;
    color: var(--custon-color) !important;
}

.swiper-slide{
    height: 85% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    background-color: transparent;
}

.swiper-slide__content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-slide__img{
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-bottom: 20px;
}

.javascript-icon{background-image: url(../img/svg/java-script.svg);}
.reactjs-icon{background-image: url(../img/svg/react.svg);}
.html-icon{background-image: url(../img/svg/html-5.svg);}
.css-icon{background-image: url(../img/svg/css-3.svg);}
.npm-icon{background-image: url(../img/svg/npm.svg);}
.bootstrap-icon{background-image: url(../img/svg/bootstrap.svg);}
.git-icon{background-image: url(../img/svg/git.svg);}
.bem-icon{background-image: url(../img/svg/bem.svg);}
.figma-icon{background-image: url(../img/svg/figma.svg);}

.swiper-slide__description{
    color: var(--back-color);
}

.swiper-pagination-bullet-active{
    background-color: var(--custon-color) !important;
}

/* PORTFOLIO */

.section-porfolio{
    width: 100%;
}

.section-porfolio__content{
    margin-top: 50px;
}

.section-porfolio__content-heading{
    font-size: var(--heading-size-2);
    color: var(--color);
    margin-bottom: clamp(15px, 5vw, 40px);
    text-align: center;
}

.section-porfolio__content-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-porfolio__content-item{
    width: clamp(350px, 60vw, 400px);
    min-height: clamp(350px, 60vw, 400px);
    background-color: var(--color);
    box-shadow: 0px 24px 42px 2px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: hidden;
    transition: transform .2s ease;
}

.section-porfolio__content-item:hover{
    transform: scale(1.025);
}

.content-item-img{
    width: 100%;
    border-bottom: 1px solid #cacaca;
}

.content-item-content{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5px;
    background-color: var(--color);
}

.item-content-heading{
    color: var(--custon-color);
    font-size: var(--heading-size-2);
    margin-bottom: 10px;
}

.item-content-description{
    color: var(--back-color);
    font-size: var(--description-size-2);
    margin-bottom: clamp(10px, 5vw, 50px);
}

.item-content-btns{
    width: 95%;
    display: flex;
    justify-content: space-around;
}

.item-content-btn{
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: var(--btn-size);
    color: var(--back-color);
    border: 1px solid var(--back-color);
    transition: all .3s ease;
}

.item-content-btn:hover{
    background-color: var(--custon-color);
    color: var(--color);
    border: 1px solid transparent;
}

/* CONTACTS */

.section-contacts{
    width: 100%;
    height: fit-content;
    background-color: var(--color);
    padding-top: clamp(15px, 5vw, 40px);
    padding-bottom: clamp(15px, 5vw, 40px);
}

.section-contacts__heading{
    font-size: var(--heading-size-1);
    color: var(--back-color);
    margin-bottom: clamp(15px, 5vw, 40px);
    text-align: center;
}

.section-contacts__content{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    padding: clamp(10px, 5vw, 30px) clamp(10px, 5vw, 80px);
    background-color: var(--back-color);
}

.section-contacts__content-list{
    width: 35%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #cacaca;
}

.section-contacts__content-item{
    display: flex;
    flex-direction: column;
    margin-bottom: clamp(7px, 3vw, 20px);
}

.section-contacts__content-item-heading{
    font-size: var(--heading-size-3);
    color: var(--color);
    margin-bottom: clamp(7px, 3vw, 15px);
}

.item-icon{
    width: clamp(15px, 2vw, 20px);
    height: clamp(15px, 2vw, 20px);
    margin-right: clamp(3px, 2vw, 7px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.address{
    background-image: url(../img/svg/address.svg);}
.mail{
    background-image: url(../img/svg/mail.svg);}
.phone{
    background-image: url(../img/svg/phone.svg);}

.section-contacts__content-item-description{
    color: var(--color);
    display: flex;
    align-items: center;
}

.section-contacts__content-item-socials{
    display: flex;
    align-items: center;
}

.item-social:not(:last-child){
    margin-right: clamp(10px, 3vw, 30px);
}

.item-social{
    transition: transform .2s ease;
}

.item-social:hover{
    transform: scale(1.15);
}

.item-social-icon{
    width: clamp(45px, 3vw, 50px);
}

.telegram{
    width: clamp(45px, 4vw, 50px);
}

.whatsapp{
    width: clamp(45px, 4vw, 45px);
}

.section-contacts__content-map{
    width: 60%;
    height: fit-content;
}

#map{
    width: 100%;
    height: clamp(300px, 30vw, 400px);
    border-radius: 15px;
    overflow: hidden;
}

/* ORDER */

.section-order{
    width: 100%;
    height: fit-content;
    background-image: url(../img/back\ frame.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* RUNNING LINE */

.running-line{
    position: absolute;
    top: -5%;
    width: 100%;
    overflow: hidden;
    background: rgb(119,88,199);
    background: linear-gradient(140deg, rgb(138, 109, 244, 1) 27%, rgba(108,72,215,1) 100%);
    box-shadow: 0 4px 20px rgba(108,72,215,1);
    transform: rotate(-1deg) translateY(-15px);
}

.running-line__item{
    height: 32px;
    padding: 10px;
    font-weight: 900;
    font-size: 30px;
    color: var(--color);
}

/* _______________________________ */

.section-order__container{
    padding: 100px 0px 100px 0px;
}

.section-order__content{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: clamp(10px, 5vw, 80px) clamp(10px, 5vw, 80px);
    background: #ffffff08;
    box-shadow: 0 4px 30px #ffffff08;
    backdrop-filter: blur(220px);
    -webkit-backdrop-filter: blur(220px);
    border: 1px solid #ffffff08;
}

.section-order__heading{
    width: 100%;
    text-align: center;
    margin-bottom: clamp(15px, 7vw, 20px);
}

.section-order__success-block{
    width: 100%;
    height: fit-content;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.visible{
    display: flex;
}

.section-order__success-img{
    width: 200px;
    height: 150px;
    background-image: url(../img/svg/success.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.section-order__success-heading{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.section-order__success-description{
    width: 100%;
    text-align: center;
}

.section-order__form-block{
    width: 100%;
    height: max-content;
    background-color: var(--color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(10px, 5vw, 50px) clamp(10px, 5vw, 50px);
}

.invisible{
    display: none;
}

.section-order__form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.section-order__list{
    width: max-content;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.section-order__item{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.label{
    color: var(--back-color);
    margin-bottom: clamp(5px, 7vw, 10px);
    margin-left: 10px;
}

.label-invalide{
    color: red;
    font-size: 15px;
}

.input{
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border: none;
    padding: clamp(5px, 5vw, 10px) clamp(5px, 5vw, 10px);
    background: rgba(211, 213, 255, 0.718);
    box-shadow: 0px -3px 60px -6px rgba(182, 185, 255, 1) inset;
    color: var(--back-color);
}

.input:focus{
    outline: 2px solid rgba(182, 185, 255, 1);
}

.input-invalide{
    background-color: rgba(244, 151, 151, 0.595);
    box-shadow: 0px 18px 20px 3px rgba(221, 44, 44, 0.1);
}

/* SELECT */

.select{
    position: relative;
    z-index: 5;
}

.select__back-drop{
    position: fixed;
    display: none;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.select__open .select__dropdown{
    display: flex;
    border: 1px solid var(--custon-color);
}

.select__open .select__input{
    border: 1px solid var(--custon-color);
}

.select__open .select__back-drop{
    display: block;
}

.select__open .select__input{
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select__input{
    color: var(--back-color);
    border-radius: 15px;
    width: 200px;
    height: 40px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px -3px 60px -6px rgba(182, 185, 255, 1) inset;
    cursor: pointer;
}

.select__dropdown{
    display: none;
    position: absolute;
    color: var(--back-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    background-color: rgb(208, 210, 255);
    box-shadow: 0px -3px 60px -6px rgba(182, 185, 255, 1) inset;
    overflow: hidden;
}

.select__list{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.select__item{
    height: 40px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color .3s;
}

.select__item:not(:first-child){
    border-top: 1px solid var(--custon-color);
}

.select__item-selected{
    background-color: var(--custon-color);
    color: var(--color);
}

.select__item:hover{
    background-color: var(--custon-color);
    color: var(--color);
}

.select-text{
    width: 80%;
}

.select-icon{
    width: 18px;
    height: 18px;
    background-image: url("../img/svg/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.fa-chevron-up{
    transform: rotate(180deg);
}

/* _________________________ */

.btn-submit{
    max-height: 40px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    margin-top: 25px;
    background: rgb(119,88,199);
    background: linear-gradient(140deg, rgb(138, 109, 244, 1) 27%, rgba(108,72,215,1) 100%);
}

/* FOOTER */

.footer{
    width: 100%;
    height: fit-content;
    background-color: var(--back-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-top: 1px solid #cacaca;
}

.footer__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__description{
    font-size: 15px;
}

.footer__icon{
    width: 30px;
    height: 30px;
}

/* MEDIA */

@media (min-width: 1882px){
    .section-porfolio__content-item{
        margin-right: 30px;
    }
}

@media (min-width: 1470px){
    .section-order__list{
        width: 85%;
    }
}

@media (max-width: 1468px){
    .section-order__form{
        justify-content: center;
    }
    
    .section-order__list{
        width: 100%;
        flex-wrap: wrap;
    }

    .section-order__item{
        width: 40%;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .input, .select__input{
        width: 100%;
    }
}

@media (max-width: 1148px){
    .section-contacts__content{
        flex-direction: column;
    }

    .section-contacts__content-list{
        border-bottom: 1px solid #cacaca;
        margin-bottom: 30px;
    }

    .section-contacts__content-item-socials{
        width: 250px;
        justify-content: space-around;
    }

    .section-contacts__content-item{
        width: 100%;
        align-items: center;
    }

    .section-contacts__content-list{
        width: 100%;
        border-right: none;
    }

    .section-contacts__content-map{
        width: 100%;
    }

    .section-order__form{
        justify-content: center;
    }
    
    .section-order__list{
        width: 100%;
        flex-wrap: wrap;
    }

    .section-order__item{
        width: 40%;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .input, .select__input{
        width: 100%;
    }
}

@media (max-width: 960px){
    .section-order__item{
        width: 100%;
    }

    .input, .select__input{
        width: 100%;
    }

    .btn-submit{
        width: 100%;
        margin-bottom: 20px;
    }

    .swiper {
        width: 90%;
    }
}

@media (max-width: 480px){
    .header{
        height: 90px;
    }

    .header__container{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }

    .section-hero__wrapper{
        background-image: none;
    }
    
    .section-hero{
        background-image: url(../img/media-background.png);
    }

    .section-hero__wrapper::before{
        background-image: none;
    }

    .item-content-btns{
        flex-direction: column;
        align-items: center;
    }

    .item-content-btn{
        width: 90%;
        text-align: center;
        margin-bottom: 10px;
    }

    .section-contacts__container{
        width: 95%;
    }

    .section-contacts__content-item{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .address{
        width: 30px;
        height: 30px;
    }

    .section-contacts__content-item-socials{
        width: 70%;
    }

    .running-line__item{
        font-size: 20px;
    }

    .section-skills__container{
        width: 100%;
    }

    .running-line{
        top: -3%;
        transform: rotate(0deg) translateY(-10px);
    }

    .footer__content{
        flex-direction: column;
    }

    .footer__description{
        margin-bottom: 20px;
    }
}